
    <div>
        <a href="/logs/{{this._id}}" class="uk-text-decoration-none" uk-toggle="target: #modal-log">
          <div class="uk-card uk-card-hover" id="/logs/{{this._id}}" >
              <div class="uk-card-media-top">
                  <img src="{{this.image}}" class="" alt="">
              </div>
              <div class="uk-card-body">
                  <h5 class="">{{this.title}}</h5>
              </div>
          </div>
        </a>
    </div>



   

 {{!-- /logs/{{this._id}} --}}