

<form action="/users/{{currentUser.id}}/edit-profile" method="POST" class="form" enctype="multipart/form-data">

  <div class="js-upload" uk-form-custom>
    <label for="image"></label>
    <img src="{{currentUser.avatar}}" width="50" height="50" class="uk-border-circle" alt="">
    <input name='image' id='image' type="file">
    <a class="" type="button" tabindex="-1">Select a profile picture</a>
  </div>

    <div class="uk-margin">
    <div class="uk-inline">
      <label for="description"></label>
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
      <textarea name='description' class="uk-input uk-form-width-large" id='description' placeholder="Tell the world about you">{{currentUser.description}}</textarea>
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-inline">
      <label for="email"></label>
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
      <input name='email' value="{{currentUser.email}}" class="uk-input uk-form-width-large {{#if errorMessage}}is-invalid{{/if}}" type="email" id='email' placeholder="Email" required>
      {{#if errorMessage}}
        <div class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          {{errorMessage}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-inline">
      <label for="username"></label>
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
      <input name='username' value="{{currentUser.username}}" class="uk-input uk-form-width-large {{#if errorMessage}}is-invalid{{/if}}" type="text" id='username' placeholder="Username" required>
    </div>
  </div>

  {{!-- <div class="uk-margin">
    <div class="uk-inline">
      <label for="password"></label>
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input name='password' class="uk-input uk-form-width-large {{#if errorMessage}}is-invalid{{/if}}" type="password" id='password' placeholder="Password" required>
    </div>
  </div> --}}

  <button type="submit" class="uk-button uk-margin-small uk-button-secondary uk-form-width-large">Update</button>
  
</form>