
<div class="uk-flex uk-flex-left">
  <div class="">
    {{#if currentUser.avatar}}
    <div class="uk-margin-xlarge-left">
       <img class="uk-border-circle uk-box-shadow-xlarge uk-margin-xlarge-left uk-margin-large-right" src="{{currentUser.avatar}}" alt="{{currentUser.fullName}}">
    </div>
    {{/if}}
  </div>
  <div class="uk-flex uk-flex-column uk-flex-left uk-width-1-2">
    <div class="uk-flex uk-flex-left">
      <h1 class="">{{currentUser.username}}</h1>
    </div>
    <div>
      <p class="">{{currentUser.description}}</p>
    </div>
    
      
    {{!-- <a class="uk-button-default uk-text-decoration-none" href="/{{currentUser.id}}/logs/new-log">Create Log</a> --}}
  </div>
</div>

<hr>

<div class="uk-child-width-1-3@m uk-grid-match uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500" uk-grid>
  {{#each logs as |log|}}
    {{>logCard}}
  {{/each}}
</div>


{{!-- 
<div class="row row-cols-1 row-cols-md-2 g-4 mt-4 mb-4">
  {{#each projects as |project|}}
    {{> projectCard project}}
  {{/each}}
</div> --}}