

<div class="profile">
  {{#if currentUser.image}}
    <img class="uk-border-circle uk-box-shadow-xlarge" src="{{currentUser.image}}" alt="{{currentUser.fullName}}">
  {{/if}}

  <h1 class="mt-3">{{currentUser.username}}</h1>
  <p><strong>Email:</strong> {{currentUser.email}}</p>
  <p>{{currentUser.description}}</p>
  <a class="uk-button-default uk-text-decoration-none" href="/users/{{currentUser.id}}/edit-profile">Edit Profile</a>
  {{!-- <a class="uk-button-default uk-text-decoration-none" href="/{{currentUser.id}}/logs/new-log">Create Log</a> --}}

</div>


{{!-- 
<div class="row row-cols-1 row-cols-md-2 g-4 mt-4 mb-4">
  {{#each projects as |project|}}
    {{> projectCard project}}
  {{/each}}
</div> --}}